* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling for New Game Screen */
body {
  background-color: #187b91;
}

#start-game-button-section {
  display: flex;
  justify-content: center;
  position: relative;
  top: 18vh;
}

#start-game-button {
  font-family: "Margarine", sans-serif;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  font-size: 2em;
  background-color: #76e46c;
  border: #fff;
  color: #fff;
}

#play-again-button-section {
  display: none;
  justify-content: center;
  position: relative;
  top: 18vh;
}

#play-again-button {
  font-family: "Margarine", sans-serif;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  font-size: 2em;
  background-color: #76e46c;
  border: #fff;
  color: #fff;
}

#score-container {
  display: flex;
  justify-content: flex-end;
  font-size: 4rem;
  font-family: "Margarine", sans-serif;
}

#score {
  display: flex;
  justify-content: center;
  margin-right: 1.3rem;
  margin-top: 0.5rem;
  color: #76e46c;
}

#game-content-section {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 1.5rem;
  top: -0.2rem;
}

#game-circles {
  display: flex;
  justify-content: center;
  width: 375px;
}

.circle {
  width: 30px;
  height: 30px;
  border: solid black 2px;
  border-radius: 50%;
  color: #187b91;
  margin: 2px;
  transition: transform 0.1s linear;
}

#bottom-circle {
  position: absolute;
  bottom: 10px;
  top: 94%;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border: solid black 2px;
  border-radius: 50%;
  background-color: #76e46c;
  margin: 2px;
  animation: sideToSide 2s ease-in-out infinite;
}

@keyframes sideToSide {
  0%,
  100% {
    transform: translateX(-50%) translateX(-10px);
  }
  50% {
    transform: translateX(-50%) translateX(10px);
  }
}
