@media (min-width: 768px) {
  body {
    height: 50vh;
    background-color: #767676;
  }

  #game-container {
    margin: 0 auto;
  }

  .game-title {
    margin: 0 auto;
  }
  .game-title img {
    position: absolute;
    left: -70px;
    top: 2px;
  }

  section a {
    left: 50%;
    top: 80%;
  }

  .level-message {
    font-size: 70px;
    margin: 0 auto;
  }

  #game-container {
    position: relative;
    margin: 0 auto;
    width: 525px;
  }
}
